.bannerInicial{
    background-color: black;
    color: white;
    font-size: 11px;
    padding: 4px;
    display: flex;
    justify-content: center; 
}

.bannerDescuento{
    background-color:crimson;
    align-content: center;
    padding: 15px;
}